.container {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
}

.footer {
  text-align: center;
  font-size: 0.75rem;
}
